<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>R.O.B.</title>

  <link rel="icon" href="<%= htmlWebpackPlugin.files.publicPath %>favicon.ico">
  <link rel="icon" href="<%= htmlWebpackPlugin.files.publicPath %>favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>apple-touch-icon.png">
  <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.webmanifest">

  <style>
    html,body {
      margin: 0;
    }

    .root {
      width: 100vw;
      min-height: 100vh;
      min-height: var(--viewport-height);
      font-family: Sarpanch, Helvetica, Arial, sans-serif;
      font-weight: 500;
      background: #111 repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-4.4-8L-9 0l4.6 8h9.3l4.6-8-4.6-8h-9.3zM-4.4 8L-9 16l4.6 8h9.3l4.6-8-4.6-8h-9.3zM9.6 16L5 24l4.6 8h9.3l4.6-8-4.6-8H9.6zM9.6-16L5-8l4.6 8h9.3l4.6-8-4.6-8H9.6zM23.6-8L19 0l4.6 8h9.3l4.6-8-4.6-8h-9.3z' stroke='%23570810'/%3E%3Cpath d='M23.6 8L19 16l4.6 8h9.3l4.6-8-4.6-8h-9.3z' stroke='%23570810'/%3E%3C/svg%3E");
      background-size: 28px 16px;
      transition: background-color .5s ease-in-out, box-shadow .5s ease-in-out;
    }

    .root__content {
      opacity: 0;
    }

    .root__preloader, .root__content {
      transition: opacity .5s ease-in-out;
    }

    .global-preloader {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .global-preloader__shadow {
      transform: scale(0.5);
      transform-origin: center center;
      animation: pulse 2.4s linear infinite;
      opacity: 0;
    }

    .global-preloader__shadow_delayed_1 {
      animation-delay: .8s;
    }

    .global-preloader__shadow_delayed_2 {
      animation-delay: 1.6s;
    }

    @keyframes pulse {
      0% {
        transform: scale(0.5);
        opacity: 0;
      }

      50% {
        opacity: 0.3;
      }
      
      70% {
        opacity: 0.1;
      }
      
      100% {
        transform: scale(1.5);
        opacity: 0;
      }
    }

    .old-browser {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 120px;
      height: 120px;
      transform: translate(-50%, -50%);
      border: 4px solid #fff;
      border-radius: 50%;
    }
  </style>
</head>
<body class="root">
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink"
    id="global-preloader" 
    class="global-preloader root__preloader" 
    width="210"
    height="280" 
    fill="none" 
  >
    <defs>
      <path id="spider" d="M118.12 61.8H91.88a1 1 0 00-.72.3L77.31 76.4a1 1 0 00-.27.85l4.38 27.7a1 1 0 01-1.36 1.08l-9.24-3.67a1 1 0 01-.63-.93V90.77a1 1 0 01.57-.9l1.92-.91a1 1 0 00.5-1.25l-1.87-5.15a1 1 0 00-1.26-.6l-6.74 2.28a1 1 0 00-.68.95v22.22a1 1 0 01-1 1H46.78a1 1 0 01-1-1v-33.2a1 1 0 01.34-.75l5.58-4.96a1 1 0 011.62.45l.96 3.14a1 1 0 001.33.64l5.2-2.08a1 1 0 00.57-1.25l-5.3-15.37a1 1 0 00-1.67-.38L38.35 70.01a1 1 0 00-.29.7v45.2a1 1 0 001 1H81.2a1 1 0 011 1.12l-4.35 38.16a1 1 0 01-.99.89H27.25a1 1 0 00-1 1v53.22a1 1 0 00.32.73l16.07 14.9a1 1 0 001.56-.24l7.87-14.1a1 1 0 00-.36-1.35l-4.78-2.8a1 1 0 00-1.35.33l-3.4 5.4a1 1 0 01-1.54.18l-6.36-6.1a1 1 0 01-.3-.73l.45-41.39a1 1 0 011.03-.99l22.42.64c1.06.03 1.35 1.48.37 1.9l-7.13 3.15a1 1 0 00-.6.94l.73 24.22a1 1 0 001.45.86l14.53-7.34a1 1 0 00.43-1.36l-2.86-5.37a1 1 0 00-1.28-.44l-3.1 1.37a1 1 0 01-1.41-.92v-6.18a1 1 0 01.57-.9l14.81-7a1 1 0 011.42 1.03l-3.36 28.9a1 1 0 00.3.84l13.53 13.38a1 1 0 00.7.29h36.5a1 1 0 00.71-.3l13.38-13.37a1 1 0 00.29-.83l-3.5-29.35a1 1 0 011.43-1.01l15.11 7.42a1 1 0 01.56.9v6.82a1 1 0 01-1.4.92l-3.89-1.7a1 1 0 00-1.28.45l-2.56 4.89a1 1 0 00.44 1.36l15.12 7.5a1 1 0 001.45-.9V171.4a1 1 0 00-.57-.9l-6.8-3.26c-.97-.47-.63-1.92.45-1.9l22.16.38a1 1 0 01.98 1v40.8a1 1 0 01-.3.72l-6.23 5.95a1 1 0 01-1.53-.18l-3.36-5.22a1 1 0 00-1.4-.3l-4.77 3.15a1 1 0 00-.28 1.4l9.01 13.44a1 1 0 001.53.16l15.22-14.78a1 1 0 00.3-.72v-53.07a1 1 0 00-1-1H133.6a1 1 0 01-1-.87l-4.93-38.48a1 1 0 01.99-1.13h42.44a1 1 0 001-1V70.72a1 1 0 00-.3-.72l-16.18-15.88a1 1 0 00-1.66.4l-4.86 15.42a1 1 0 00.69 1.26l5.07 1.38a1 1 0 001.19-.58l1.14-2.83a1 1 0 011.64-.33l4.63 4.63a1 1 0 01.29.7v33.56a1 1 0 01-1 1h-14.8a.63.63 0 01-.45-1.08.63.63 0 00.18-.44V85.02a1 1 0 00-.67-.94l-6.88-2.42a1 1 0 00-1.28.62l-1.9 5.56a1 1 0 00.57 1.25l1.52.64a1 1 0 01.61.92v11.08a1 1 0 01-.65.94l-9.25 3.42a1 1 0 01-1.33-1.1l4.38-28.05a1 1 0 00-.27-.86l-13.7-13.99a1 1 0 00-.7-.3z" fill="#DA0014" stroke="#000" stroke-width="2"/>
    </defs>

    <use xlink:href="#spider" x="0" y="0" class="global-preloader__shadow" />
    <use xlink:href="#spider" x="0" y="0" class="global-preloader__shadow global-preloader__shadow_delayed_1"/>
    <use xlink:href="#spider" x="0" y="0" class="global-preloader__shadow global-preloader__shadow_delayed_2"/>
    <use xlink:href="#spider" x="0" y="0" stroke="#000"/>
  </svg>

  <div id="app" class="root__content"></div>

  <script>
    var styles = [
      <% for (var file in htmlWebpackPlugin.files.css) { %>
        "<%= htmlWebpackPlugin.files.css[file] %>",
      <% } %>
    ];

    var scripts = [
      <% for (var file in htmlWebpackPlugin.files.js) { %>
        "<%= htmlWebpackPlugin.files.js[file] %>",
      <% } %>
    ];

    if ('CSS' in window && 'supports' in window.CSS && window.CSS.supports('display: grid')) {
      styles.forEach(style => {
        var node = document.createElement('link');
        node.setAttribute('rel', 'stylesheet');
        node.setAttribute('href', style);
        document.body.appendChild(node);
      });

      scripts.forEach(script => {
        var node = document.createElement('script');
        node.setAttribute('src', script);
        document.body.appendChild(node);
      });
    } else {
      document.getElementById('global-preloader').remove();

      var node = document.createElement('img');
      
      var img1xPath = '<%= htmlWebpackPlugin.files.publicPath %>static/old-browser.png';
      var img2xPath = '<%= htmlWebpackPlugin.files.publicPath %>static/old-browser@2x.png';

      node.setAttribute('src', img1xPath);
      node.setAttribute('srcSet', img1xPath + ' 1x, ' + img2xPath + ' 2x');
      node.setAttribute('alt', 'Tony Stark makes a face saying “Your browser is too old, darling”');
      node.setAttribute('class', 'old-browser');

      document.body.appendChild(node);
    }
  </script> 
</body>
</html>
