<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>R.O.B.</title>

  <link rel="icon" href="<%= htmlWebpackPlugin.files.publicPath %>favicon.ico">
  <link rel="icon" href="<%= htmlWebpackPlugin.files.publicPath %>favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>apple-touch-icon.png">
  <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.webmanifest">

  <style>
    html,body {
      margin: 0;
    }

    .root {
      width: 100vw;
      min-height: 100vh;
      min-height: var(--viewport-height);
      font-family: Sarpanch, Helvetica, Arial, sans-serif;
      font-weight: 500;
      background: #111 repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-4.4-8L-9 0l4.6 8h9.3l4.6-8-4.6-8h-9.3zM-4.4 8L-9 16l4.6 8h9.3l4.6-8-4.6-8h-9.3zM9.6 16L5 24l4.6 8h9.3l4.6-8-4.6-8H9.6zM9.6-16L5-8l4.6 8h9.3l4.6-8-4.6-8H9.6zM23.6-8L19 0l4.6 8h9.3l4.6-8-4.6-8h-9.3z' stroke='%23570810'/%3E%3Cpath d='M23.6 8L19 16l4.6 8h9.3l4.6-8-4.6-8h-9.3z' stroke='%23570810'/%3E%3C/svg%3E");
      background-size: 28px 16px;
      transition: background-color .5s ease-in-out, box-shadow .5s ease-in-out;
    }

    .root__content {
      opacity: 0;
    }

    .root__preloader, .root__content {
      transition: opacity .5s ease-in-out;
    }

    .global-preloader {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .global-preloader__shadow {
      transform: scale(0.5);
      transform-origin: center center;
      animation: pulse 2.4s linear infinite;
      opacity: 0;
    }

    .global-preloader__shadow_delayed_1 {
      animation-delay: .8s;
    }

    .global-preloader__shadow_delayed_2 {
      animation-delay: 1.6s;
    }

    @keyframes pulse {
      0% {
        transform: scale(0.5);
        opacity: 0;
      }

      50% {
        opacity: 0.3;
      }
      
      70% {
        opacity: 0.1;
      }
      
      100% {
        transform: scale(1.5);
        opacity: 0;
      }
    }

    .old-browser {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 120px;
      height: 120px;
      transform: translate(-50%, -50%);
      border: 4px solid #fff;
      border-radius: 50%;
    }
  </style>
</head>
<body class="root">
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink"
    id="global-preloader" 
    class="global-preloader root__preloader" 
    width="240" 
    height="320" 
    fill="none" 
  >
    <defs>
      <path id="spider" d="M135.06 70.62h-30.12a1 1 0 00-.72.3L88.31 87.36a1 1 0 00-.27.85l5.05 31.98a1 1 0 01-1.36 1.08l-10.88-4.32a1 1 0 01-.63-.93v-12.37a1 1 0 01.57-.9l2.39-1.14a1 1 0 00.5-1.24l-2.23-6.15a1 1 0 00-1.26-.6l-7.93 2.69a1 1 0 00-.68.95v25.64a1 1 0 01-1 1H53.32a1 1 0 01-1-1V84.75a1 1 0 01.34-.75l6.6-5.86a1 1 0 011.62.45l1.2 3.95a1 1 0 001.33.64l6.2-2.49a1 1 0 00.58-1.25L64 61.53a1 1 0 00-1.66-.38l-18.56 18.9a1 1 0 00-.29.7v51.87a1 1 0 001 1h48.46a1 1 0 011 1.11l-5 43.9a1 1 0 01-1 .89H31a1 1 0 00-1 1v61.02a1 1 0 00.32.74l18.55 17.2a1 1 0 001.55-.25l9.16-16.4a1 1 0 00-.37-1.34l-5.7-3.34a1 1 0 00-1.35.33l-4.05 6.42a1 1 0 01-1.53.2l-7.45-7.14a1 1 0 01-.3-.73l.52-47.51a1 1 0 011.03-1l26.4.75c1.06.03 1.35 1.49.37 1.92l-8.81 3.88a1 1 0 00-.6.94l.83 28a1 1 0 001.45.86l16.95-8.55a1 1 0 00.43-1.36l-3.4-6.38a1 1 0 00-1.29-.44l-3.87 1.7a1 1 0 01-1.4-.91v-7.38a1 1 0 01.57-.9l17.24-8.14a1 1 0 011.42 1.02L82.8 227.1a1 1 0 00.29.82l15.56 15.4a1 1 0 00.7.28h41.84a1 1 0 00.7-.3l15.39-15.38a1 1 0 00.28-.82l-4.04-33.87a1 1 0 011.43-1.02l17.6 8.63a1 1 0 01.55.9v8.11a1 1 0 01-1.4.92l-4.77-2.08a1 1 0 00-1.28.46l-3.06 5.82a1 1 0 00.45 1.36l17.62 8.73a1 1 0 001.44-.9v-28.35a1 1 0 00-.57-.9l-8.44-4.05c-.97-.47-.63-1.92.45-1.9l26.12.44a1 1 0 01.98 1v46.83a1 1 0 01-.3.73l-7.28 6.96a1 1 0 01-1.54-.18l-4.01-6.23a1 1 0 00-1.4-.3l-5.69 3.76a1 1 0 00-.28 1.39l10.47 15.62a1 1 0 001.53.16l17.56-17.04a1 1 0 00.3-.72v-60.86a1 1 0 00-1-1h-56.44a1 1 0 01-1-.87l-5.68-44.26a1 1 0 011-1.13h48.8a1 1 0 001-1v-51.5a1 1 0 00-.3-.71l-18.7-18.37a1 1 0 00-1.65.41l-5.68 17.98a1 1 0 00.7 1.26L177.1 83a1 1 0 001.2-.6l1.43-3.53a1 1 0 011.64-.33l5.48 5.48a1 1 0 01.29.7v38.55a1 1 0 01-1 1h-17.06a.72.72 0 01-.51-1.23.72.72 0 00.21-.5V97.06a1 1 0 00-.67-.95l-8.1-2.84a1 1 0 00-1.28.62l-2.25 6.62a1 1 0 00.56 1.24l1.95.82a1 1 0 01.61.92v12.86a1 1 0 01-.65.94l-10.9 4.03a1 1 0 01-1.33-1.1l5.06-32.37a1 1 0 00-.27-.86l-15.74-16.08a1 1 0 00-.71-.3z" fill="#DA0014" stroke="#000" stroke-width="2"/>
    </defs>

    <use xlink:href="#spider" x="0" y="0" class="global-preloader__shadow" />
    <use xlink:href="#spider" x="0" y="0" class="global-preloader__shadow global-preloader__shadow_delayed_1"/>
    <use xlink:href="#spider" x="0" y="0" class="global-preloader__shadow global-preloader__shadow_delayed_2"/>
    <use xlink:href="#spider" x="0" y="0" stroke="#000"/>
  </svg>

  <div id="app" class="root__content"></div>

  <script>
    var styles = [
      <% for (var file in htmlWebpackPlugin.files.css) { %>
        "<%= htmlWebpackPlugin.files.css[file] %>",
      <% } %>
    ];

    var scripts = [
      <% for (var file in htmlWebpackPlugin.files.js) { %>
        "<%= htmlWebpackPlugin.files.js[file] %>",
      <% } %>
    ];

    if ('CSS' in window && 'supports' in window.CSS && window.CSS.supports('display: grid')) {
      styles.forEach(style => {
        var node = document.createElement('link');
        node.setAttribute('rel', 'stylesheet');
        node.setAttribute('href', style);
        document.body.appendChild(node);
      });

      scripts.forEach(script => {
        var node = document.createElement('script');
        node.setAttribute('src', script);
        document.body.appendChild(node);
      });
    } else {
      document.getElementById('global-preloader').remove();

      var node = document.createElement('img');
      node.setAttribute('src', '<%= htmlWebpackPlugin.files.publicPath %>static/old-browser.png');
      node.setAttribute('class', 'old-browser');
      document.body.appendChild(node);
    }
  </script> 
</body>
</html>
